@import "reset.css";

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: gainsboro;
    padding: 20px;
}

canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.color-option {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px solid white;
    transition: transform ease-in-out .1s;
}

.color-option:hover {
    transform: scale(1.2);
}

input#color {
    width: 50px;
    height: 40px;
    background-color: white;
    border: none;
}

button,label {
    all:unset;
    padding : 10px 0;
    text-align: center;
    background-color: rgb(14, 92, 236);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .1s;
}

button:hover {
    opacity: 0.85;
}

input#text {
    all: unset;
    padding : 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    background-color: white;
}

input#file {
    display: none;
}