.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form input {
    padding: 8px 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    width: 200px;
    margin: 0px 15px 0 25px;
    position: relative;
    top: 6px;
}


.login-form button{
    position: relative;
    top: 6px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 5px;
}